@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.do--not--show {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

li {
    cursor: pointer;
}

ul {
    list-style: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0;
    margin: 0;
}