.page.settings {
    flex-direction: column;
    justify-content: space-around;
}

.page-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    /* padding: 0 20px; */
}

.main-box {
    text-transform: none;
}

.main-box--container.left {
    position: relative;
    transform: skewY(-15deg);
}

.main-box--container.right {
    position: relative;
    transform: skewY(15deg);
}

.main-box--container.right .main-box:hover {
    background-color: #33a3ee;
    transform: translateX(15px);
}

.main-box--container.right .main-box:hover::before {
    background-color: #1f5378;
}

.main-box--container.right .main-box:hover::after {
    background-color: #2982b9;
}

.main-box--container.right .main-box::before {
    left: 250px;
    width: 40px;
    height: 100%;
    background-color: #2e3133;
    transform-origin: left;
    transform: skewY(-45deg);
}

.main-box--container.right .main-box::after {
    top: -40px;
    left: 40px;
    width: 100%;
    height: 40px;
    background-color: #2e3133;
    transform-origin: top;
    transform: skewX(-45deg);
}

.main-box--container.right .main-box:last-child:after {
    box-shadow: 140px 140px 20px rgba(0, 0, 0, 0.25);
}

.main-box.four {
    z-index: 700;
}

.continue-btn {
    width: 200px;
    height: 60px;
    background-color: #3e3f46;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    color: #999;
}

.continue-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 200px;
    width: 10px;
    height: 100%;
    background-color: #2e3133;
    transform-origin: left;
    transform: skewY(-45deg);
    transition: 0.5s;
}

.continue-btn::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    width: 100%;
    height: 10px;
    background-color: #2e3133;
    transform-origin: top;
    transform: skewX(-45deg);
    transition: 0.5s;
}

.continue-btn::after {
    box-shadow: 85px 85px 5px rgba(0, 0, 0, 0.25);
}

.continue-btn:hover {
    background-color: #33a3ee;
    transform: translateY(-10px);
}

.continue-btn:hover {
    color: #fff;
}

.continue-btn:hover::before {
    background-color: #1f5378;
}

.continue-btn:hover::after {
    background-color: #2982b9;
}